body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.headerlogo {
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
  padding: 1em;
  text-align: center;
  width: 98%;
}
.headerlogo img {
  width: 30%;
}

.prev-page-btn {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border: 2px solid #3278ff;
}

.prev-page-btn:hover {
  background: #8446f2;
  cursor: pointer;
}

.prev-page-btn:active {
  background: #5061ec;
  cursor: progress;
}

.next-page-btn {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border: 2px solid #3278ff;
}

.next-page-btn:hover {
  background: #8446f2;
  cursor: pointer;
}

.next-page-btn:active {
  background: #5061ec;
  cursor: progress;
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px #000;
}

table {
  table-layout: auto;
  width: auto;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
}

thead {
  background-color: #444;
  width: 100%;
}

th {
  padding: 1em;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #333;
  max-height: 50px; /* máximo 50px de altura */
  height: auto; /* altura en función del contenido */
  line-height: 1.5; /* altura de línea */
  overflow: hidden; /* ocultar cualquier contenido que se desborde */
  background-color: #333;
}

td {
  padding: 1em;
}

td:first-child {
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

td:nth-child(3) {
  text-transform: uppercase;
}

td:nth-child(4) {
  font-style: italic;
}

td:last-child {
  text-align: center;
}

.Table-container {
  width: 85%;
  height: 50%;
  overflow: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #3e8e41;
}
