body {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.headerlogo {
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
  padding: 1em;
  text-align: left;
  width: 98%;
}

.headerlogo img {
  width: 30%;
}

.headerlogo {
  text-align: left;
  margin-bottom: 10px;
}

.store {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  width: auto;
  justify-content: space-between;
}

.store button {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Urbanist", sans-serif;
  background-color: #8248f3;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.store button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #8248f3;
  filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.store button:hover::after {
  opacity: 1;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  position: relative;
}

.banner-left,
.banner-right {
  flex-basis: 20%;
}

.banner-left {
  position: relative;
  left: 0;
  z-index: 0;
}

.banner-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.Table-container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

#tableContainer {
  margin: auto;
  width: 90%;
  height: 50px;
  overflow: auto;
}

#gameTable {
  width: 100%;
  height: 100%;
}

.Table-container {
  width: 85%;
  height: 50%;
  overflow: auto;
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px #000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4caf50;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 10px 20px;
}

.pagination button:hover {
  background-color: #3e8e41;
}

.prev-page-btn,
.next-page-btn {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border: 2px solid #3278ff;
}

.prev-page-btn:hover,
.next-page-btn:hover {
  background: #8446f2;
  cursor: pointer;
}

.prev-page-btn:active,
.next-page-btn:active {
  background: #5061ec;
  cursor: progress;
}

th,
td {
  height: min-content;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

thead {
  background-color: #444;
  width: 100%;
}

th {
  padding: 1em;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #333;
  max-height: min-content; /* máximo 50px de altura */
  height: auto; /* altura en función del contenido */
  overflow: hidden; /* ocultar cualquier contenido que se desborde */
}

td {
  padding: 1em;
}

td:first-child {
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

td:nth-child(3) {
  text-transform: uppercase;
}

td:nth-child(4) {
  font-style: italic;
}

td:last-child {
  text-align: center;
}
