<!DOCTYPE html>
<html>
  <head>
    <title>Base de Datos de Videojuegos</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/images/GP Icon logo.png" />
  </head>
  <body>
    <div class="banner">
      <img src="/static/images/banner.jpg" alt="Banner Image" />
    </div>
    <header class="headerlogo">
      <img src="/static/images/Gamespedia logo full.png" alt="Gamespedia" />
      <div class='store'>
        <button onclick="window.location.href='index.html'">Store</button>
      </div>
    </header>

    <div class="Table-container">
      <table id="gameTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Language</th>
            <th>Release Date</th>
            <th>Publisher</th>
            <th>Mature Content</th>
            <th>Minimum Requirements</th>
            <th>Recomended Requirements</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <script type="text/javascript" src="/static/src/app.js"></script>
  </body>
</html>
