<!DOCTYPE html>
<html>
  <head>
    <title>Base de Datos de Videojuegos</title>
    <link
      rel="stylesheet"
      href="https://github.com/Maruda13/Proyecto_GTI/blob/main/static/style.css"
    />
    <script type="text/javascript" src="src/app.js"></script>
  </head>
  <body>
    <header>
      <h1>Gamespedia</h1>
    </header>
    <table id="gameTable">
      <thead>
        <tr>
          <th>Título</th>
          <th>Desarrollador</th>
          <th>Género</th>
          <th>Plataforma</th>
          <th>Año de Lanzamiento</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
