<!DOCTYPE html>
<html>
  <head>
    <title>Gamespedia</title>
    <link rel="stylesheet" href="/static/styleS.css" />
    <script type="text/javascript" src="/static/src/app.js"></script>
    <link rel="icon" href="/static/images/GP Icon logo.png" />
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/static/images/Gamespedia logo full.png" alt="Gamespedia" />
        </div>
        <ul>
          
        </ul>
      </nav>
      <div class="right-main">
        <div class="main-top">
          <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar..." />
          </div>
          <div class="top">
          </i>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-user-circle"></i>
          <i class="fas fa-bars" id="hamburger"></i>
          <i class="fas fa-bell"
            ><div class="dataBase">
              <button onclick="window.location.href='dataBase.html'">
                Database
              </button>
            </div>
          </div>
        </div>
        <div class="main-flex">
          <main>
            <header>
              <div class="tag">Nuevo</div>
              <h1>The Legend of Zelda: Tears of the Kingdom</h1>
              <div class="purchase">
                <h2>$69.99</h2>
                <button>Comprar</button>
              </div>
              <div class="spiderman-img">
                <img
                  src="/static/images/games/link.png"
                  alt="TOTK"
                  draggable="false"
                />
              </div>
            </header>
            <div class="most-played">
              <h3>Títulos Populares</h3>
              <div class="cards">
                <div class="games-card">
                  <div class="game-image-container">
                    <img
                      src="/static/images/games/re4.png"
                      alt="ResidentEvil 4"
                    />
                  </div>

                  <h4>Resident Evil 4 Remake</h4>
                  <p>$59.99</p>
                </div>
                <div class="games-card">
                  <div class="game-image-container">
                    <img src="/static/images/games/HL.png" alt="cyberpunk" />
                  </div>
                  <h4>Hogwarts Legacy</h4>
                  <p>$50.90</p>
                </div>
                <div class="games-card">
                  <div class="game-image-container">
                    <img
                      src="/static/images/games/SS.png"
                      alt="Hollow Knight: Silksong"
                    />
                  </div>
                  <h4>Hollow Knight: Silksong</h4>
                  <p>Próximamente</p>
                </div>
              </div>
            </div>
          </main>
          <aside>
            <div class="library">
              <h3>Recomendados para ti</h3>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/games/Nier.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>NieR:Automata</h4>
                  <p>Nintendo Switch, PS4, Android, Xbox One, PC</p>
                </div>
                <i class="fas fa-download"></i>
              </div>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/games/phasmo.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>Phasmophobia</h4>
                  <p>PC</p>
                </div>
                <i class="far fa-check-circle"></i>
              </div>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/games/eldenR.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>Elden Ring</h4>
                  <p>PS5, PS4, Xbox One, Xbox Series & PC</p>
                </div>
                <i class="fas fa-download"></i>
              </div>
              <hr />
              <h3>Social</h3>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/rubius.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>ElRubiusOMG</h4>
                  <p>Jugando Resident Evil Village</p>
                </div>
                <div class="online"></div>
              </div>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/vege.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>Vegeta777</h4>
                  <p>Desconectado</p>
                </div>
                <div class="offline"></div>
              </div>
              <div class="library-card">
                <div class="game-logo">
                  <img
                    src="/static/images/illo.png"
                    alt=""
                  />
                </div>
                <div class="game-details">
                  <h4>Illojuan</h4>
                  <p>Jugando The Legend of Zelda: Tears of the Kingdom</p>
                </div>
                <div class="online"></div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </body>
</html>
